<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saranya.thirumalai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Second" />
        <activity android:name=".Third" />
        <activity
            android:name=".TRAVELO"
            android:label="@string/title_activity_travelo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Forget" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBchUgpSWCjSBxXb97I5e3xaUq8jTE-P-w" />

        <activity
            android:name=".Book"
            android:label="@string/title_activity_book" />
        <activity android:name=".confirm" />
        <activity android:name=".Myridess" />
        <activity android:name=".Cancel" />
        <activity
            android:name=".settings"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>